[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "imgui-sfml"]
	path = imgui-sfml
	url = https://github.com/sfml/imgui-sfml.git
[submodule "lib/imgui-sfml"]
	branch = 2.6.x
